h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.footer-link, .resources-link, .header-section .header-container .header-logo {
  text-decoration: none;
}

.advice-title, .real-title, .how-going-booked-title, .how-going-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.33;
}

.cooperate-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advice-button, .how-going-booked-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 34px;
  max-width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #FFFEF0;
  background-color: #483CFF;
  border: 2px solid #483CFF;
  border-radius: 800px;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header-section {
  background-color: #004449;
}
.header-section .header-container {
  display: flex;
  justify-content: space-between;
  padding-left: 184px;
  padding-right: 240px;
}
.header-section .header-container .header-logo {
  display: block;
  padding-top: 44px;
  padding-bottom: 44px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: rgb(215, 255, 194);
}
.header-section .header-container .header-button {
  display: flex;
  padding-top: 44px;
  padding-bottom: 44px;
  min-width: 58px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #FFFEF0;
  border-color: transparent;
  background-color: transparent;
}

.hero-section {
  padding-top: 236px;
  padding-bottom: 236px;
  background-color: #004449;
}

.hero-container {
  padding-left: 330px;
}

.hero-title {
  margin-bottom: 24px;
  max-width: 634px;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.1;
  color: #FFFEF0;
}
.hero-title span {
  color: rgb(255, 172, 127);
}

.hero-text {
  margin-bottom: 24px;
  max-width: 495px;
  font-size: 32px;
  line-height: 1.5;
  color: #FFFEF0;
}

.hero-button {
  display: flex;
  align-items: center;
  min-width: 338px;
  padding: 16px 34px 16px 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #004449;
  background-color: rgb(11, 255, 128);
  border: 2px solid #0BFF80;
  border-radius: 800px;
}

.hero-button::after {
  content: " ";
  display: inline-block;
  margin-left: 8px;
  width: 24px;
  height: 24px;
  background-image: url("../../img/svg/hero-img.svg");
}

.cooperate-container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 48px;
  padding-right: 48px;
}

.cooperate-section {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #004449;
}

.cooperate-text {
  margin-bottom: 48px;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #FFFEF0;
}

.cooperate-list {
  display: flex;
  gap: 179px;
}

.how-going-section {
  padding-top: 112px;
  padding-bottom: 30px;
  background-image: url("../../img/background/howgoing-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.how-going-title {
  margin-bottom: 5px;
  text-align: center;
  color: #004449;
}
.how-going-title sup {
  font-size: 8px;
  top: -3em;
}

.how-going-list {
  display: flex;
  gap: 48px;
  margin-bottom: 352px;
}
.how-going-list .how-going-item {
  flex-basis: calc((100% - 96px) / 3);
}

.how-going-item-img {
  display: flex;
  align-items: end;
  justify-content: center;
  min-height: 200px;
  width: 100%;
}

.how-going-item-wrap {
  padding-top: 32px;
  padding-bottom: 28px;
  background-color: #FFFEF0;
  box-shadow: 2px 8px 16px rgba(153, 169, 197, 0.2);
  border-radius: 8px;
}
.how-going-item-wrap .how-going-item-title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #004449;
}
.how-going-item-wrap .how-going-item-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 304px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.32px;
  color: #004449;
}

.how-going-booked-wrap {
  margin-left: auto;
  margin-right: auto;
  padding-top: 54px;
  padding-bottom: 54px;
  max-width: 764px;
  background-color: #D7FFC2;
  border-radius: 8px;
}

.how-going-booked-title {
  margin-bottom: 20px;
  text-align: center;
  color: #004449;
}
.how-going-booked-title span {
  color: #007A83;
}

.how-going-booked-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  max-width: 596px;
  font-size: 11px;
  line-height: 2.18;
  text-align: center;
  letter-spacing: 0.32px;
  color: #004449;
}

.real-section {
  padding-top: 184px;
  padding-bottom: 128px;
  background-color: #FFFEF0;
}

.real-title {
  margin-bottom: 48px;
  text-align: center;
  color: #004449;
}
.real-title span {
  display: inline-block;
  width: 244px;
  background-color: #D7FFC2;
  border-radius: 8px;
}

.real-list {
  display: flex;
}

.real-item-wrapper {
  width: 20%;
}

.real-item-wrap {
  position: relative;
  margin-bottom: 42px;
}

.real-item-price-wrap {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 124px;
  background-color: #FDD6BA;
  border-radius: 800px;
}

.real-item-price {
  font-size: 38px;
  line-height: 1.47;
  color: #004449;
}
.real-item-price sup {
  font-size: 16px;
  top: -1.38em;
}

.real-item-describe {
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.28px;
  color: #004449;
}

.real-item-city {
  font-size: 18px;
  line-height: 1.43;
  text-align: center;
  color: #004449;
}

.reviews-section {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url("../../img/background/response-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reviews-title {
  margin-bottom: 214px;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.09;
  text-align: center;
  color: #004449;
}
.reviews-title span {
  display: inline-block;
  width: 336px;
  background-color: #D7FFC2;
  border-radius: 8px;
}

.reviews-list {
  display: flex;
  gap: 24px;
  margin-bottom: 56px;
}

.reviews-item {
  padding-top: 50px;
  padding-left: 32px;
  padding-bottom: 32px;
  min-height: 365px;
  background-color: #FFFEF0;
  border-radius: 8px;
}

.reviews-item-text {
  font-size: 18px;
  line-height: 1.33;
  color: #004449;
}

.reviews-item-name {
  font-size: 18px;
  line-height: 1.33;
  color: #004449;
}

.reviews-item-status {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.28px;
  color: #004449;
}

.reviews-btn-list {
  display: flex;
  gap: 48px;
  justify-content: center;
}

.reviews-btn-item-btn {
  padding: 12px;
  border-color: transparent;
  background-color: #004449;
  border-radius: 50%;
}

.current {
  transform: rotate(180deg);
}

.advice-section {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #FFFEF0;
}

.advice-wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 56px 122px;
  max-width: 944px;
  background-color: #BAEBFF;
  border-radius: 8px;
}
.advice-wrap img {
  position: absolute;
  top: -22%;
  left: -5%;
}

.advice-title {
  margin-bottom: 20px;
  text-align: center;
  color: #004449;
}

.advice-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  max-width: 465px;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #004449;
}

.resources-section {
  padding-top: 64px;
  padding-bottom: 80px;
  background-color: #004449;
}

.resources-container {
  display: flex;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 1200px;
}

.resources-title {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 1.33;
  color: #FFFEF0;
}

.resources-link {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFEF0;
}

.about-wrap {
  margin-right: 104px;
}

.resources-wrap {
  margin-right: 48px;
}

.support-wrap {
  margin-right: 180px;
}

.follow-list {
  display: flex;
  gap: 64px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer-section {
  background-color: #FFFEF0;
}

.footer-text-wrap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-list {
  display: flex;
  gap: 8px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #004449;
}

.footer-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #004449;
}/*# sourceMappingURL=main.css.map */